* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: 700;
  font-size: 40px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 100%;
  border-radius: 10px;
}
.form-title {
  margin-top: 20px;
}
.userform {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userform > input {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(0, 162, 255);
}
.userform > button {
  border: none;
  color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px;
  background-color: rgb(0, 162, 255);
}

/* CONTACT */
.contact_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  height: 100%;
  width: 100vw;
}
.contact {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.contact_info_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(0, 162, 255);
  border-radius: 7px;
  height: 10vh;
  width: 15%;
  padding: 15px;
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgb(215, 215, 215));
  overflow: hidden;
}
.contact_info_item:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: -1px 1px 90px -7px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -1px 1px 40px -7px rgba(0, 0, 0, 0.74);

  -webkit-transition: all 0.2s 0s ease;
  -moz-transition: all 0.2s 0s ease;
  -o-transition: all 0.2s 0s ease;
  transition: all 0.2s 0s ease;
}
.contact_info_content {
  margin-left: 20px;
  width: 100%;
}
.contact_heading {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
}

/* contact us */
.contact_form {
  display: flex;
  justify-content: center;
  height: 100%;
}
.container {
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgb(215, 215, 215));
  border-radius: 7px;
  overflow: auto;
}
.contact_form_title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 30px;
}
.contact_form_email {
  width: 30%;
}
.text_field {
  width: 100%;
}
.contact_form_name > input {
  padding: 7px;
  padding-left: 10px;
  border-radius: 7px;
  border: 1px solid rgb(80, 80, 80);
}
textarea {
  padding-left: 10px;
  border-radius: 7px;
}
.submitBtn {
  border: none;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  padding: 7px 10px;
  background-color: rgb(0, 162, 255);
}

/* HOME PAGE */
.home-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 92.1vh;
  background: conic-gradient(
    from 281deg at 34% 49%,
    rgb(0, 223, 45) 0%,
    rgba(0, 57, 63, 1) 41%,
    rgba(54, 159, 244, 1) 67%,
    rgba(0, 57, 63, 1) 86%,
    rgb(0, 213, 53) 100%
  );
}

.home-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 50%;
  border-radius: 40% 60% 60% 40% / 34% 38% 62% 66%;
  /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.09);
}
.home-div > p {
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: 600;
  color: white;
}
.home-div > h1 {
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 900;
  color: black;
}
.home-view-courses {
  background-image: linear-gradient(
    to right,
    #005595,
    #00d0ff,
    #00d0ff,
    #005595
  );
  width: 200px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.home-view-courses:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.home-facebook-Feed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 63%;
  width: auto;
  border-radius: 15px;
}

/* ABOUT */
.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}
.aboutBG {
  background-color: #fff;
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgb(215, 215, 215));
  border-radius: 7px;
  padding: 30px 30px;
}

.profile-head > h5 {
  font-weight: 700;
  font-size: 35px;
}
.profile-head > h6 {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(161, 161, 161);
}
.profile-rating {
  font-size: 15px;
  font-weight: 500;
}
.profile-img > img {
  width: 100%;
  border-radius: 7px;
  margin-bottom: 20px;
}
.profile-work > p {
  font-weight: 700;
  color: rgb(178, 178, 178);
}
.profile-work > a {
  text-decoration: none;
  color: rgb(107, 107, 107);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.profile-work > a:hover {
  color: rgb(0, 162, 255);
}
.col-md-2 > input {
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
}
.col-md-2 > input:hover {
  background-color: rgb(37, 37, 37);
  color: rgb(255, 255, 255);
}
.col-md-6 > p {
  color: rgb(0, 162, 255);
  font-weight: 500;
}
.col-md-6 > label {
  font-weight: 700;
}

/* ERROR PAGE */
#notfound {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
#notfound > h2 {
  font-weight: 700;
  position: absolute;
  z-index: 999;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  margin-top: -100px;
  text-transform: uppercase;
}
#notfound > p {
  position: absolute;
  z-index: 999;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  width: 44%;
  font-weight: 500;
}
.notfound-404 {
  position: relative;
  display: inline-block;
}
.notfound-404 > h1 {
  letter-spacing: 15px;
  font-size: 16rem;
  font-weight: 700;
  color: rgb(235, 235, 235);
}

.backtohome {
  text-decoration: none;
  background-color: rgb(0, 162, 255);
  padding: 15px 25px;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
}
.backtohome:hover {
  background-color: #fff;
  font-weight: 550;
  color: rgb(0, 162, 255);
  border: 2px solid rgb(0, 162, 255);
}

/* Admin DashBoard */
.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-dashboard-heading {
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 50px;
}
.modal-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
}
.modal-inputs > input {
  border-radius: 5px;
  padding: 10px;
  border: 2px solid rgb(0, 162, 255);
}

/* View Courses */
.viewCourses-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
}
.courses-container {
  width: 100vw;
  height: 92.1vh;
  display: flex;
  flex-direction: column;
  background: conic-gradient(
    from 281deg at 34% 49%,
    rgb(0, 223, 45) 0%,
    rgba(0, 57, 63, 1) 41%,
    rgba(54, 159, 244, 1) 67%,
    rgba(0, 57, 63, 1) 86%,
    rgb(0, 213, 53) 100%
  );
}
.course {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  flex: 1;
  padding: 30px;
}
.new-course-container {
  /* background-color: rgb(0, 162, 255); */
  height: 100%;
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  color: #fff;
  /* From https://css.glass */
  background: rgba(186, 186, 186, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.09);
}
.new-course-container > h1 {
  font-size: 30px;
  margin-bottom: 15px;
}
.new-course-container > h4 {
  font-size: 20px;
  font-weight: 400;
}
.new-course-container > h6 {
  font-weight: normal;
  font-size: 15px;
}
.new-course-container > button {
  border: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  font-size: 20px;
  margin-top: 20px;
}
